.gallery {
    width: 100%;
    margin: auto;
}

.gallery-main {
    width: 98%;
    margin: auto;
}
.hero-image {
    padding: 1rem 0;
    width: 95%;
    margin: auto;
}
.hero-image img {
    width: 90%;
    height: 600px;
    object-fit: cover;
}
.g-one {
    width: 100%;
    padding: 1rem;
}
.g-one-in {
    width: 90%;
    margin: auto;
}
.g-one-in h1 {
    font-size: 3rem;
    color: green;
    font-weight: bold;
    width: 80%;
    margin-bottom: 1rem;
}
.g-one-in p {
    font-size: 1.5rem;
    color: black;
    width: 90%;
    padding: 1rem 0;
}
.gallery-three {
    padding: 1rem 0;
    width: 90%;
    margin:auto
}
.gallery-three-prime {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-around;
    gap: 1rem;
}
.gallery-image {
    border: 0.1rem solid green;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.back-to-home {
    position: fixed;
    /* bottom: 6rem;  */
    /* margin-bottom: 1.2rem; */
    /* left: 1rem;  */
    /* top: 2rem; */
    display: flex;
    z-index: 1000;
    gap: 10px;
}
.BackToHome{
    top: 2rem;
    z-index: 1000;
    position: fixed;
}
.back-to-top-button{
    z-index: 1000;
    position: fixed;
    bottom: 2rem;
}
.back-to-home a ,.back-to-top-button{
    background-color: green;
    align-items: center;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2.5rem;
}

.back-to-top-button{
    font-size: .9rem;
    padding: .5rem;
}
.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more-button {
    background-color: green;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}
.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-date {
    padding: 0.3rem 0.5rem !important;
    color: green;
}


@media screen and (max-width: 600px) {
 
    .gallery-main {
        width: 95%;
        margin: auto;
    }

    .hero-image img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .g-one-in h1 {
        font-size: 2rem;
        color: green;
        font-weight: bold;
        width: 90%;
        margin-bottom: 1rem;
    }

    .g-one-in p {
        font-size: 1rem;
        color: black;
        width: 90%;
        padding: 1rem 0;
    }

    .gallery-image {
        border: 2px solid green;
        width: 98%;
        margin: auto;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .back-to-home{
        bottom: 2.1rem; 
        margin-bottom: 2rem;
        font-size: .3rem;
        gap: 5px;
    }
    
    .back-to-home a{
        font-size: 1.2rem;
    }

    .load-more-button {
        
        padding: 0.3rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        margin-left: 1rem;
    }
}