.newsContainer {
    width: 100%;
}
.newsContainer-in {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsContainer-in-header {
    width: 100%;
    margin-bottom: 1rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-in-one {
    width: 20%;
    border: none;
}

.header-in-two {
    width: 50%;
    text-align: center;
}
.header-in-two h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.header-in-three {
    width: 10%;
    text-align: center;
    padding: 0.5rem;
    background-color: green;
}
.header-in-three a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.header-in-one input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid green;
}
.newsContainer-in-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
