@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-component {
  width: 100%;
}
.home-container {
  width: 100%;
}



.home-two {
  width: 100%;
  padding: 2rem 0rem;
}
.home-two-in {
  width: 90%;
  margin: auto;
}
.home-two-in-header {
  width: 100%;
  padding: 2rem 0rem;
}
.home-two-in-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}

.home-two-in-one {
  width: 100%;
  border: 2px solid green;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(0, 128, 0, 0.2);
}
.home-two-in-one-in {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-two-in-one-in-one {
  width: 60%;
  padding: 2rem 1rem;
}
.home-two-in-one-in-one-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
}
.home-two-in-one-in-two {
  width: 40%;
  padding: 2rem 1rem;

}
.home-two-in-one-in-two-in {
  display: flex;
  justify-content: flex-end
}

.home-two-in-one-in-two-in-image {
  border-radius: 1rem;
  border: 1px solid black;
}

.home-two-in-one-in-boxes {
  padding: 2rem 0rem 0rem 0rem;
}

.home-two-in-one-in-boxes-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem 0rem;
  row-gap: 5px;
  column-gap: 5px;
}

.home-two-in-one-in-boxes-in-box {
  border: 2px solid green;
  background-color: orange;
  border-radius: 1rem;
}

.home-two-in-one-in-boxes-in-box-in {
  padding: 0.3rem;
}
.home-two-in-one-in-boxes-in-box-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: green;
  font-size: 1rem;
}






.home-three {
  width: 100%;
  background-color: rgb(255,165,0, 0.2);
}
.home-three-in {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
}
.home-three-one {
  width: 100%;
}
.home-three-one-in {
  width: 100%;
  display: flex;
}

.home-three-one-in-one {
  width: 75%;
}
.home-three-one-in-one-in {
  width: 100%;
}
.home-three-one-in-two {
  width: 25%;
}
.home-three-one-in-two-in {
  width: 100%;
}
.home-three-one-in-two-in-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
}
.home-three-one-in-two-in-box-in {
  padding: 1rem;
}
.htoitibi-header {
  border: 2px solid green;
  padding: 0.5rem;
  background-color: orange;
  border-radius: 1rem;
}
.htoitibi-header-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.htoitibi-header-in h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
}

.htoitibi-boxes {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 1rem 0rem;
}
.htoitibi-box {
  border-left: 0.5rem solid green;
  padding: 0.3rem 0rem;
  border-bottom: 1px solid lightgrey;
  padding-left: 1rem;
}



/* -------------------------- home-four  ------------------------- */
.home-four {
  width: 100%;
  padding: 2rem 0rem;
}
.home-four-in {
  width: 90%;
  margin: auto;
}
.home-four-header {
  width: 100%;
  padding: 1rem 0rem;
}
.home-four-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}
.home-four-in-in {
  border: 2px solid orange;
  border-left: 1rem solid green;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.home-four-one {
  width: 20%;
}
.home-four-one-in-one-in-image {
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid green;
}
.home-four-one-in-one p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  padding: 1rem 0rem;
}
.home-four-two {
  width: 78%;
  background-color: rgb(0, 128, 0, 0.2);
  border-radius: 1rem;
}
.home-four-two-in {
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-four-two-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  width: 80%;
}



/* -------------------------------- home five -------------------------------- */
.home-five {
  width: 100%;
  padding: 2rem 0rem;
}
.home-five-in {
  width: 90%;
  margin: auto;
}
.home-five-in-header {
  width: 100%;
  padding: 1rem 0rem;
}
.home-five-in-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}
.home-five-one-in-boxes {
  display: flex;
  border: 1px solid green;
  padding: 2rem 0rem;
  border-top: 1rem solid orange;
  border-bottom: 1rem solid orange;
}
.home-five-one-in-box {
  margin: 0rem 0.5rem;
  border-radius: 1rem;
}





.home-five-one-in-box-in-image {
  width: 100%;
}
.home-five-one-in-box-in-image-image {
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid green;
}

.home-five-one-in-box-in-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
}





/* --------------------------- Footer --------------------------- */

.Footer {
  width: 100%;
  background-color: green;
}
.Footer-in {
  width: 90%;
  margin: auto;
}
.Footer-one {
  width: 100%;
  border-bottom: 3px dotted orange;
}
.Footer-one-in {
  width: 100%;
  padding: 2rem 0rem;
}
.Footer-one-in h1 {
  color: black;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
}
.Footer-two {
  width: 100%;
  border-bottom: 3px dotted orange;
}
.Footer-two-in {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Footer-two-in-one {
  width: 30%;
}
.Footer-two-in-two {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Footer-two-in-one-in {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
}
.Footer-two-in-two-in {
  padding: 3rem 0rem;
  display: flex;
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
}

.Footer-two-in-two-in-boxes {
  width: 32%;
}

.Footer-two-in-two-in-boxes-in h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: orange;
  font-size: 1.2rem;
}
.Footer-two-in-two-in-boxes-in ul li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.1rem;
}


.Footer-last {
  width: 100%;
}
.Footer-last-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  padding: 1rem 0rem;
}
.Footer-last-in p {
  font-size: 1rem;
  width: 70%;
}
.Footer-last-in a {
  text-decoration: none;
  font-size: 1rem;
  color: orange;
}
.Footer-two-in-one-in-two p {
  color: orange;
}