@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Navbar-Res {
  display: none;
}

.Navbar {
  display: block;
}

.home-component {
  width: 100%;
}
.home-container {
  width: 100%;
}

.hero {
  width: 100%;
}


.hero-in {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
  background: linear-gradient(to right, rgba(0, 255, 0, 0.5) 0%, rgba(255, 255, 255, 0.3) 80%);
}

.hero-img {
  display: none;
}

.hero-in h1 {
  color: white;
  font-size: 7rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  width: 60%;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
  line-height: 8rem;
  border-left: 1rem solid orange;
  padding-left: 1rem;
}

.hero-in h3 {
  color: black;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 60%;
  /* text shadow */
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
  line-height: 3rem;
  border-left: 1rem solid green;
  padding-left: 1rem;
}
/* --------------------------- home-three --------------------------- */
.home-three {
  width: 100%;
  padding: 3rem 0rem;
}
.home-three-in {
  width: 90%;
  margin: auto;
  display: flex;
}

.home-three-one {
  width: 60%;
}
.home-three-one-in {
  width: 90%;
}
.home-three-one h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
  line-height: 3.8rem;
  font-weight: 600;
}
.home-three-one p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  line-height: 2rem;
  padding: 1rem 0rem;
  color: rgb(35, 35, 35);
  margin-bottom: 1rem;
}
.home-three-one-in-link {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}
.home-three-two {
  width: 40%;
}
.home-three-two-in-one {
  width: 100%;
  border-bottom: 3px solid green;
  background-color: rgb(0, 128, 0, 0.2);
  padding: 0.5rem;
  border-radius: 1rem;
}
.home-three-two-in-one p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.home-three-two-in-two-boxes {
  width: 100%;
}
.home-three-two-in-two-box {
  padding: 0.5rem 0rem;
}
.home-three-two-in-two-box-in {
  width: 90%;
}
.home-three-two-in-two-box-in-one h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: orange;
}
.home-three-two-in-two-box-in-two span {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: green;

}
.home-three-two-in-two-box-in-two p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
  line-height: 2rem;
  color: rgb(35, 35, 35);
  margin-bottom: 1rem;
}
/* --------------------------- home-two ---------------------- */

.home-two {
  width: 100%;
  padding: 2rem 0rem;
  background-color: white;
}

.home-two-in {
  width: 90%;
  margin: auto;
}
.home-two-in-header {
  width: 100%;
  padding: 2rem 0rem;
}
.home-two-in-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}

.home-two-in-one {
  width: 100%;
  border: 2px solid green;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(0, 128, 0, 0.2);
}

.home-two-in-one-in {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-two-in-one-in-one {
  width: 60%;
  padding: 2rem 1rem;
}

.home-two-in-one-in-one-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
}
.home-two-in-one-in-two {
  width: 40%;
  padding: 2rem 1rem;

}
.home-two-in-one-in-two-in {
  display: flex;
  justify-content: flex-end
}

.home-two-in-one-in-two-in-image {
  border-radius: 1rem;
  border: 1px solid black;
}

.home-two-in-one-in-boxes {
  padding: 2rem 0rem 0rem 0rem;
}

.home-two-in-one-in-boxes-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem 0rem;
  row-gap: 5px;
  column-gap: 5px;
}

.home-two-in-one-in-boxes-in-box {
  border: 2px solid green;
  background-color: white;
  border-radius: 1rem;
}

.home-two-in-one-in-boxes-in-box-in {
  padding: 0.3rem;
}

.home-two-in-one-in-boxes-in-box-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: green;
  font-size: 1rem;
}


/* -------------------------- home-four  ------------------------- */
.home-four {
  width: 100%;
  padding: 2rem 0rem;
  background-color: white;
}
.home-four-in {
  width: 90%;
  margin: auto;
}
.home-four-header {
  width: 100%;
  padding: 1rem 1.5rem;
}
.home-four-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 2rem;
  color: orange;
}
.home-four-in-in {
  /* border: 2px solid green; */
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.home-four-one {
  width: 20%;
}
.home-four-one-in-one-in-image {
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid green;
}
.home-four-one-in-one p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  padding: 1rem 0rem;
  border: 2px solid green;
  border-radius: 1rem;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(0, 128, 0, 0.2);
}
.home-four-two {
  width: 78%;
  background-color: rgb(0, 128, 0, 0.2);
  border-radius: 1rem;
}
.home-four-two-in {
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  border-radius: 1rem;
}
.home-four-two-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  width: 80%;
}




/* -------------------------- home-seven  ------------------------- */
.home-seven {
  width: 100%;
  padding: 2rem 0rem;
  background-color: white;
}
.home-seven-in {
  width: 90%;
  margin: auto;
}
.home-seven-in-header-in {
  width: 100%;
}
.home-seven-in-header-in h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}

.home-seven-in-one-in-boxes {
  width: 100%;
  padding: 2rem 0rem;

}
.home-seven-in-one-in-boxes-in {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
}
.home-seven-in-one-in-box {
  /* background-color: rgb(0, 128, 0, 0.2); */
  padding: 0.1rem;
  width: 19%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.home-seven-in-one-in-box:hover {
  background-color: rgb(0, 128, 0, 0.2);
}
.home-seven-in-one-in-box-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: green;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}





/* -------------------------- home-seven  ------------------------- */
.home-seven {
  width: 100%;
  padding: 2rem 0rem;
}
.home-seven-in {
  width: 90%;
  margin: auto;
}
.home-seven-in-header-in {
  width: 100%;
}
.home-seven-in-header-in h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}

.home-seven-in-one-in-boxes {
  width: 100%;

}
.home-seven-in-one-in-boxes-in {

}

/* ----------------------- home-eight --------------------------- */
.home-eight {
  width: 100%;
  padding: 2rem 0rem;
}
.home-eight-in {
  width: 90%;
  margin: auto;
  display: flex;
}
.home-eight-one {
  width: 60%;
}
.home-eight-one-in {

}
.home-eight-one-in-book {

}
.home-eight-one-in-book-comp {

}
.flipbook-page {

  width: 100%;
  height: auto;
}
.home-eight-two {
  width: 40%;
}
.home-eight-two-in {
  width: 90%;
  margin: auto;
  padding-left: 1rem;
}
.home-eight-two-in h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
  font-size: 3rem;
  color: orange;
}
.home-eight-two-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  line-height: 2rem;
  padding: 1rem 0rem;
  color: rgb(35, 35, 35);
  margin-bottom: 1rem;
}
.home-eight-two-in-link {
  border: 2px solid green;
  border-radius: 1rem;
  padding: 0.5rem;
}





/* -------------------- Media Queries -------------------- */

@media screen and (max-width: 600px) {

    html {
      background-image: none;
    }

    .Navbar {
        display: none;
    }

    .Navbar-Res {
      display: block;
    }

    .hero {
      background-image: none !important;
      width: 100%;
    }

    .hero-in {
      height: 100vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 4rem 1rem;
    }

    .hero-in h1 {
      font-size: 2rem;
      width: 100%;
      color: white;
      padding: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
    }

    .hero-img {
      display: block;
      width: 100%;
      margin-top: 2rem;
    }

    .hero-img img {
      width: 100%;
      height: 100%;

    }
    
    .hero-in h3 {
      padding: 0rem 1.5rem 0rem 1.5rem;
      font-size: 1.5rem;
      width: 100%;
      line-height: 2rem;
    }

    /* ------ home two ------- */

    .home-two-in-header h1 {
      font-size: 1.5rem;  
    }

    .home-two-in-one-in {
      flex-direction: column;
    }

    .home-two-in-one-in-one {
      width: 100%;
    }

    .home-two-in-one-in-two {
      width: 100%;
    }

    .home-two-in-one-in-one-in p {
      font-size: 1rem;
      width: 100%;
    }

    .home-two-in-one-in-two-in-image {
      width: 100%;
    }




    /* ------ home four ------- */

    .home-four-in-in {
      flex-direction: column;
      gap: 1rem;
    }

    .home-four-one {
      width: 90%;
      margin: auto;
    }

    .home-four-one-in-one-in-image {
      width: 100%;
      height: 40%;
    }

    .home-four-two {
      width: 90%;
      margin: auto;
    }

    .home-four-two-in {
      padding: .5rem;
    }

    .home-four-two-in p {
      font-size: 1rem;
    }

    /* --------------- home five ------------------ */

    .home-five {  
      display: none;
    }

    /* ----- Footer ------ */

   

    .home-six, .home-seven {
      display: none;
    }
}