@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home-component {
  width: 100%;
}
.home-container {
  width: 100%;
}

.hero {
  width: 100%;
}


.hero-in {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
  background: linear-gradient(to right, rgba(0, 255, 0, 0.5) 0%, rgba(255, 255, 255, 0.3) 80%);
}


.hero-in h1 {
  color: white;
  font-size: 7rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  width: 60%;
  /* text shadow */
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
  line-height: 8rem;
  border-left: 1rem solid orange;
  padding-left: 1rem;
}

.hero-in h3 {
  color: black;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 60%;
  /* text shadow */
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
  line-height: 3rem;
  border-left: 1rem solid green;
  padding-left: 1rem;
}


/* --------------------------- home-two ---------------------- */

.home-two {
  width: 100%;
  padding: 2rem 0rem;
  background-color: white;
}

.home-two-in {
  width: 90%;
  margin: auto;
}
.home-two-in-header {
  width: 100%;
  padding: 2rem 0rem;
}
.home-two-in-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}

.home-two-in-one {
  width: 100%;
  border: 2px solid green;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(0, 128, 0, 0.2);
}
.home-two-in-one-in {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-two-in-one-in-one {
  width: 60%;
  padding: 2rem 1rem;
}

.home-two-in-one-in-one-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
}
.home-two-in-one-in-two {
  width: 40%;
  padding: 2rem 1rem;

}
.home-two-in-one-in-two-in {
  display: flex;
  justify-content: flex-end
}

.home-two-in-one-in-two-in-image {
  border-radius: 1rem;
  border: 1px solid black;
}

.home-two-in-one-in-boxes {
  padding: 2rem 0rem 0rem 0rem;
}

.home-two-in-one-in-boxes-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem 0rem;
  row-gap: 5px;
  column-gap: 5px;
}

.home-two-in-one-in-boxes-in-box {
  border: 2px solid green;
  background-color: white;
  border-radius: 1rem;
}

.home-two-in-one-in-boxes-in-box-in {
  padding: 0.3rem;
}
.home-two-in-one-in-boxes-in-box-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: green;
  font-size: 1rem;
}






.home-three {
  width: 100%;
  background-color: rgb(255,165,0, 1);
  z-index: 2;
}
.home-three-in {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
}
.home-three-one {
  width: 100%;
}
.home-three-one-in {
  width: 100%;
  display: flex;
}

.home-three-one-in-one {
  width: 75%;
}
.home-three-one-in-one-in {
  width: 100%;
}
.home-three-one-in-two {
  width: 25%;
}
.home-three-one-in-two-in {
  width: 100%;
}
.home-three-one-in-two-in-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
}
.home-three-one-in-two-in-box-in {
  padding: 1rem;
}
.htoitibi-header {
  border: 2px solid green;
  padding: 0.5rem;
  background-color: orange;
  border-radius: 1rem;
}
.htoitibi-header-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.htoitibi-header-in h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
}

.htoitibi-boxes {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 1rem 0rem;
}
.htoitibi-box {
  border-left: 0.5rem solid green;
  padding: 0.3rem 0rem;
  border-bottom: 1px solid lightgrey;
  padding-left: 1rem;
}



/* -------------------------- home-four  ------------------------- */
.home-four {
  width: 100%;
  padding: 2rem 0rem;
  background-color: white;
}
.home-four-in {
  width: 90%;
  margin: auto;
}
.home-four-header {
  width: 100%;
  padding: 1rem 0rem;
}
.home-four-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: orange;
}
.home-four-in-in {
  /* border: 2px solid green; */
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.home-four-one {
  width: 20%;
}
.home-four-one-in-one-in-image {
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid green;
}
.home-four-one-in-one p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  padding: 1rem 0rem;
  border: 2px solid green;
  border-radius: 1rem;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(0, 128, 0, 0.2);
}
.home-four-two {
  width: 78%;
  background-color: rgb(0, 128, 0, 0.2);
  border-radius: 1rem;
}
.home-four-two-in {
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  border-radius: 1rem;
}
.home-four-two-in p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  color: black;
  width: 80%;
}

/* ------------------------------ home five ------------------------------ */

.home-five {
  width: 100%;
  padding: 3rem 0rem;
  background-color: rgb(0, 128, 0.3, 0.3);
  backdrop-filter: blur(5px);
}

.home-five-in {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-five-one {
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
}

.home-five-one-in h1 {
  font-size: 4rem;
  color: green;
}

.home-five-one-in span {
  color: orange;
  font-size: 7rem;
}

.home-five-one-in {
  padding: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-five-two {
  width: 100%;
}

.home-five-two-in h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.home-five-two-in {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  border-bottom: 4px solid green;
  padding-bottom: 2rem;
}

.home-five-three {
  width: 100%;
  height: fit-content;
}

.home-five-one-three {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
}

.home-fo-one h1{
  font-size: 3rem;
  font-weight: 600;
}

.home-fo-one p {
  font-size: 1.2rem;
}


/* ----------------------------- home six --------------------------- */

.home-six {
  background-color: white;
  padding: 2rem;
}




/* -------------------------- home-seven  ------------------------- */
.home-seven {
  width: 100%;
  padding: 2rem 0rem;
  background-color: white;
}
.home-seven-in {
  width: 90%;
  margin: auto;
}
.home-seven-in-header-in {
  width: 100%;
}
.home-seven-in-header-in h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}

.home-seven-in-one-in-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-seven-in-one-in-boxes-in {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-seven-in-one-in-box {
  border-radius: 1rem;
}
.home-seven-in-one-in-box-in {
  width: 25vh;
  height: 30vh;
}




/* -------------------------- home-seven  ------------------------- */
.home-seven {
  width: 100%;
  padding: 2rem 0rem;
}
.home-seven-in {
  width: 90%;
  margin: auto;
}
.home-seven-in-header-in {
  width: 100%;
}
.home-seven-in-header-in h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3rem;
  color: green;
}

.home-seven-in-one-in-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-seven-in-one-in-boxes-in {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-seven-in-one-in-box {
  border-radius: 1rem;
}
.home-seven-in-one-in-box-in {
  width: 25vh;
  height: 30vh;
}


/* -------------------- Media Queries -------------------- */


