.NavBar {
    width: 100%;
  }
  
  .NavBar-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .NavBar-in-one {
    width: 50%;
  }
  
  .NavBar-in-two {
    width: 50%;
  }
  
  .NavBar-in-two-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }